- variant = 'test'
%div.experiment-container.experiment-test

  .container.slp-container#intro
    .row.text-center.u-padding-top-sm
      %h1 Get an open DevOps platform

  .container.slp-container#plans
    .row.u-padding-top-xs
      -# reminder to Digital Experience team to update the below to reflect 10620's include structure. The direct HAML below is a temporary solution during this test.
      - variant = 'test'
      %div.cmp-pricing-plan-list
        .row.pricing-nav-mobile
          -# empty div where the navigation will go once generated by javascript
        .row.plans
          - test_pricing_plans = data.pricing_experiment.plans.dup
          -# Must use .dup otherwise you're referencing the same object when copying the variable.
          - test_plans = test_pricing_plans
          - test_plans.each_with_index do |plan_test, index|
            - free = plan_test.id == 'free'
            %div{class: "col-md-4 plan plan-#{plan_test.id}"}
              .who-for= plan_test.sub_description
              .plan-inner-wrapper
                .content
                  .title= plan_test.title
                  .price $#{plan_test.monthly_price}
                  .price-monthly per user/month
                  - if free
                    .price-annually (No credit card required)
                  - else
                    .price-annually (Billed annually at $#{plan_test.monthly_price * 12} USD)
                  %div{ class: "btn cta-btn start-#{plan_test.id}", data: { target: "##{plan_test.id}-modal-#{variant}", toggle: 'modal' } }= plan_test.button_copy
                .features
                  .first-feature
                    %span
                      - if free
                        %span.icon= partial "/images/icons/slp-calendar.svg"
                      - else
                        %span.icon= partial "/images/icons/slp-arrow-left.svg"
                      %span= free ? 'Free-forever features' : "Everything from #{test_plans[index - 1].title}"
                  - plan_test.features.each do |feature|
                    %details
                      %summary
                        - if plan_test.id == 'free'
                          %span.icon= partial "/images/icons/slp-checkmark.svg"
                        - else
                          %span.icon.expand= partial "/images/icons/slp-plus.svg"
                          %span.icon.collapse= partial "/images/icons/slp-minus.svg"
                        %span.plan-feature-title
                          %span #{feature.title}
                          - unless free
                            %span.plan-feature-border
                      - if feature.subfeatures
                        %ul.subfeatures
                          - feature.subfeatures.each do |subfeature|
                            %li
                              %span.icon= partial "/images/icons/slp-checkmark.svg"
                              %span.plan-feature-title
                                %span #{subfeature.title}
                -# insert separator here
                - unless free
                  .bottom-description= plan_test.description


      - data.pricing.plans.each do |plan|
        -# generate the "start now / buy now" self-managed vs saas modal so it can be displayed when clicking a related button
        = partial '/pricing/_modal2020', locals: plan_modal_options(plan, variant)

  .container.slp-container
    .row.text-center.u-padding-bottom-md
      %h4 All plans have unlimited (private) repositories. Use it SaaS or Self-Managed. For Self-Managed, the Premium and Ultimate plans have Scaled GitLab, PostgreSQL, GitLab Geo, and disaster recovery.
