%h1{:align => "center"} Continuous security testing capabilities
%h2{:align => "center"} Included within GitLab Ultimate

%hr.divider
.row
.col-xs-12.col-md-6.col-md-offset-1
  %h2 Static Application Security Testing (SAST, all tiers)
  %p
  %ul
    %li
      Scan the application to spot potential vulnerabilities at code commit, before code is merged.
    %li
      Secret Detection prevent secrets from accidentally leaking into your Git history. 
.hidden-xs.hidden-sm.col-md-4
  = image_tag "/images/secure/sast-screen-shot.png", alt: "Gitlab Static Application Security Testing", style: "margin-top: 150px;"
%hr.divider
